<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="content">
        <div class="main">
            <div class="offer">
                <h2 class="offer-title"><span>300%</span><br />Welcome bonus</h2>
                <div class="offer-bonus">
                    <div class="offer-bonus-code" id="code">Witcher</div>
                    <button class="offer-bonus-button" id="copy-button">copy code</button>
                </div>
                <a href="#" class="offer-button">play now</a>
            </div>
        </div>
        <div class="footer">
            <a href="#">
                <img src="assets/images/logo.png">
            </a>
            <span>*Terms and Conditions Apply</span>
        </div>
    </div>
</body>
</html>
